html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

md-toolbar h3 {
    margin: auto;
    font-weight: 500;
}

md-list-item > button {
    width:100%;
    text-align: left !important;
}

#content
{
    padding-left: 40px;
    padding-right: 40px;
    padding-top:5px;
}

.selectedIndex {
  background: yellow;
}


  #vertical-container {
      min-height: 200px;
      width: 100%;
  }

  #parameterContainer {
    height: 100%
    width: 90%;


    align-items: center;
    justify-content: center

}

#templateParameterList{
    padding: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
}

  
 .repeated-item {
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    height: 40px;
    padding-top: 10px; 
}

.repeated-parameter {
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    height: 50px;
    padding-top: 5px; }

  
 md-content {
    margin: 16px; }
  
 md-virtual-repeat-container {
    border: solid 1px grey; }
  
 .md-virtual-repeat-container .md-virtual-repeat-offsetter div {
padding-left: 16px; }



.datatable {
  width: 90%;
  border: 1px solid #d6dde6;
  border-collapse: collapse;
  margin: auto;
  list-style-type: none;
}

.datatable td {
  border: none; 
  padding: 0.3em;
}

.datatable th {
  border: none; 
  background-color: #bcbcbc;
  font-weight: bold;
  text-align: left;
  padding-left: 0.3em;
}

.datatable caption {
  font: bold 110% Arial, Helvetica, sans-serif;
  color: #33517a;
  text-align: left;
  padding: 0.4em 0 0.8em 0;
}

.datatable tr:nth-child(odd) {
  background-color: #dfe7f2;
  color: #000000;
}

#mapid { width: 80%; height: 90%; padding: 10%}
