<md-list ng-cloak>
<md-list-item><p>Vehicle Id</p><md-button class="md-secondary" >{{vm.vhName}}</md-button></md-list-item>
<md-list-item><p>Timestamp</p><md-button class="md-secondary" >{{vm.heartbeatTimestamp}}</md-button></md-list-item>
</md-list>
<div>
<md-content>
	<md-tabs md-dynamic-height md-border-bottom>
		<md-tab label="Position">
			<md-content>
				<leaflet markers="vm.busMark" lf-center="vm.vhPosition" tiles="vm.tiles" defaults="defaults" width="100%" height="600px"></leaflet>
				<md-list ng-cloak>
					<md-list-item><p>Position</p><md-button class="md-secondary"  >{{vm.vhPosition}}</md-button></md-list-item>
					<md-list-item><p>Speed</p><md-button class="md-secondary" >{{vm.vhSpeed}}</md-button></md-list-item>
				</md-list>
			</md-content>	
		</md-tab>		
		<md-tab label="Tell Tales">
			<md-content>
				<table class='datatable'>
					<tr><th>ID</th><th>Name</th><th>Value</th></tr>
					<tr ng-repeat="tellTale in vm.tellTales"><td>{{tellTale.id}}</td><td>{{tellTale.name}}</td><td>{{tellTale.status}}</td></tr>
				</table>
			</md-content>	
		</md-tab>
		<md-tab label="Device messages">
			<md-content>
				<table border="1">
					<tr><td>Name</td><td>Value</td></tr>
					<tr ng-repeat="infoItem in vm.vhInfo"><td>{{infoItem.name}}</td><td>{{infoItem.val}}</td></tr>
				</table>	
			</md-content>	
		</md-tab>
		<md-tab label="Viriciti Integration">
			<md-content>
				<md-list ng-cloak>
				<md-list-item><p>Vehicle speed</p><md-button class="md-secondary" >{{vm.dashboard_speed | number : 1}}</md-button></md-list-item>
				<md-list-item><p>Batery state of charge</p><md-button class="md-secondary" >{{vm.dashboard_bat_soc | number : 1}}</md-button></md-list-item>
				<md-list-item><p>Estimated range in service</p><md-button class="md-secondary" >{{vm.analyses_estimated_range_inservice | number : 1}}</md-button></md-list-item>
				<md-list-item><p>Estimated time in service</p><md-button class="md-secondary" >{{vm.analyses_estimated_time_inservice | number : 1}}</md-button></md-list-item>
				</md-list>			
			</md-content>	
		</md-tab>	
		<md-tab label="Vehicle IT Platform">
			<md-content>
<h2>Memory consumption of the Vehicle Services</h2>
<canvas id="line" class="chart chart-line" chart-data="vm.data"
chart-labels="vm.labels" chart-series="vm.series" chart-options="vm.options"
chart-dataset-override="vm.datasetOverride">
</canvas>
			</md-content>	
		</md-tab>	

	</md-tabs>
</md-content>
</div>
