<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="css/angular-material.min.css">
    <link rel="stylesheet" href="css/leaflet.css" crossorigin=""/>
    <link rel="stylesheet" type="text/css" href="css/app.css">
  </head>
<body ng-app="vehicleInfoPage" layout="column">
  <script src="js/leaflet.js" crossorigin=""></script>
  <script src="js/angular.min.js"></script>
  <script src="js/angular-animate.min.js"></script>
  <script src="js/angular-aria.min.js"></script>
  <script src="js/angular-material.min.js"></script>
  <script src="js/angular-route.min.js"></script>
  <script src="js/angular-websocket.min.js"></script>
  <script src="js/angular-leaflet-directive.min.js"></script>
  <script src="js/vehicleinfofrontend.min.js"></script>
  <script src="js/Chart.min.js"></script>
  <script src="js/angular-chart.min.js"></script>
  <!--XXX Live reload placeholder XXX-->

  <md-content flex layout-padding>
  <div ng-controller="headerController as vm">
    <md-toolbar >
      <h1 ng-click="vm.showServerStats()">{{vm.header}}</h1>
    </md-toolbar>
  </div>
    
    <div class="container" layout="row">
     <md-sidenav md-is-locked-open="true" class="md-whiteframe-4dp">
      <div ng-controller="vehicleListNaviController as vm">
        <md-list>
          <md-list-item ng-repeat="vehicleEntry in vm.menu | orderBy:'caption'">
            <md-button ng-click="vm.showVehicle(vehicleEntry.vehicleId)">{{vehicleEntry.caption}}</md-button>
          </md-list-item>
        </md-list>
      </div>
     </md-sidenav>
     <md-content id="content" flex>
	<div ng-view></div>
     </md-content>
    </div>
    
  </md-content>

</body>
</html>
